body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#flash_messages {
    padding: 40px 15px;
}

#ben-acct-info
{
  white-space:pre-wrap;
}

#bus-acct-info
{
  white-space:pre-wrap;
}

table, td, th {
  background-color: #FFFFCC;
  border: 1px solid black;
  border-collapse: collapse;
  padding-right: 5px;  
  padding-left: 5px;  
  padding-top: 5px;  
  padding-bottom: 5px;  
  text-align: center;
}

legend {
  border-color: #474956;
}
