body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#flash_messages {
    padding: 40px 15px;
}

#ben-acct-info
{
  white-space:pre-wrap;
}

#bus-acct-info
{
  white-space:pre-wrap;
}