{% extends 'base.html' %}
{% set active_page = 'ben_console' %}

{% block container %}
  <div class="container">
    <h1>Beneficiary Console</h1>

    <!--User Info Display ----------------------------------------------------->
    <form id="ben_console" action="{{ url_for('ben_console') }}" method ="POST" enctype="multipart/form-data">
      <fieldset>
      <legend>Account Information</legend>
      <div class="form-group">
        <table width="100%">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Street Addr</th>
              <th>City</th>
              <th>State</th>
              <th>ZIP</th>
              <th>Number in Household</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="fName"></td>
              <td id="lName"></td>
              <td id="addr"></td>
              <td id="city"></td>
              <td id="ST"></td>
              <td id="zip"></td>
              <td id="nHouse"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button id="deactivated" type="submit" class="btn btn-primary" disabled>Update Information</button>
      </fieldset>
    </form>
    <br></br>
    
    <!--Dietary Restrictions -------------------------------------------------->
    <form id="diets"> <!--</form>action="{{ url_for('ben_console') }}" method ="POST" enctype="multipart/form-data">-->
      <fieldset>
      <legend>Dietary Restrictions</legend>
      <div class="form-group">
        <table width="100%">
          <thead>
            <tr>
              <th>Kosher</th>
              <th>Gluten Free</th>
              <th>Vegan</th>
              <th>Ovo-Vegetarian</th>
              <th>Lacto-Vegetarian</th>
              <th>Lacto-Ovo Vegetarians</th>
              <th>Pescetarians</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="diets" id="kosh" value="Kosher"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="glut" value="Gluten Free"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="vegan" value="Vegan"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="ovoveg" value="Ovo-Vegetarian"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="lactoveg" value="Lacto-Vegetarian"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="lactoovoveg" value="Lacto-Ovo Vegetarian"><br>
              </td>
              <td>
                <input type="checkbox" name="diets" id="pesc" value="Pescetarian"><br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--<button id="deactivated" type="submit" class="btn btn-primary" disabled>Save</button>-->
      </fieldset>
    </form>
    <!--<br></br>-->
    
    
    <!--Food Allergies -------------------------------------------------------->
    <!--https://www.foodallergy.org/about-food-allergies ---------------------->
    <form id="allergies"> <!--action="{{ url_for('ben_console') }}" method ="POST" enctype="multipart/form-data">-->
      <fieldset>
      <legend>Food Allergies</legend>
      <div class="form-group">
        <table width="100%">
          <thead>
            <tr>
              <th>Peanut</th>
              <th>Tree Nuts</th>
              <th>Milk</th>
              <th>Egg</th>
              <th>Wheat</th>
              <th>Soy</th>
              <th>Fish</th>
              <th>Shellfish</th>
              <th>Sesame</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="allergies" id="peanut" value="Peanut"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="tree" value="Tree Nuts"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="milk" value="Milk"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="egg" value="Egg"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="wheat" value="Wheat"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="soy" value="Soy"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="fish" value="Fish"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="shellfish" value="Shellfish"><br>
              </td>
              <td>
                <input type="checkbox" name="allergies" id="sesame" value="Sesame"><br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </fieldset>
    </form>

    <button id="savePreferences" type="submit" class="btn btn-primary" onclick="savePreferences()">Save Dietary Restrictions and Food Allergies</button>

  </div>
{% endblock %}