{% extends 'base.html' %}
{% set active_page = 'bus_console' %}

{% block container %}
  <div class="container">
    <h1>Business Console</h1>

    <!--User Info Display ----------------------------------------------------->
    <form id="bus_console" action="{{ url_for('bus_console') }}" method ="POST" enctype="multipart/form-data">
      <fieldset>
      <legend>Account Information</legend>
      <div class="form-group">
        <table width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Street Addr</th>
              <th>City</th>
              <th>State</th>
              <th>ZIP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="name"></td>
              <td id="addr"></td>
              <td id="city"></td>
              <td id="ST"></td>
              <td id="zip"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button id="deactivated" type="submit" class="btn btn-primary" disabled>Update Information</button>
      </fieldset>
    </form>
    <br></br>
    
    <!--Multiple item addition via CSV ---------------------------------------->
    <form id="bus_console" action="{{ url_for('bus_console') }}" method ="POST" enctype="multipart/form-data">
      <fieldset>
      <legend>Multiple Item Addition Via CSV File Upload
        <a href="http://web.engr.oregonstate.edu/~stramelm/CS361/food_loss_example.csv" title="example.csv">(Example CSV File)</a>
      </legend>
      <div class="form-group">
        <input type="file" name="food_loss_csv_file" id="food_loss_csv_file">
      </div>
      <button id="food_loss_upload" type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
    <br></br>
    
    <!--Manually add single items --------------------------------------------->
    <!--'name', 'category', 'volume', 'units', 'quantity',   'sellby',   'bestby', 'expiration'-->
    <!--  text,      text,    float,     text,    integer, YYYY-MM-DD, YYYY-MM-DD,   YYYY-MM-DD-->
    <form class="form-horizontal" action="{{ url_for('bus_console') }}" method ="POST" enctype="multipart/form-data">
      <fieldset>
      <legend>Single Item Addition</legend>
      <div class="form-group">
      <label for="name" class="col-md-1 control-label">Name</label>
        <div class="col-md-3">
          <input type="text" name="name" class="form-control" id="name" placeholder="Item Name">
        </div>
        <label for="category" class="col-md-1 control-label">Category</label>
        <div class="col-md-3">
          <input type="text" name="category" class="form-control" id="category" placeholder="Category">
        </div>
        <label for="quantity" class="col-md-1 control-label">Quantity</label>
        <div class="col-md-3">
          <input type="number" min = "1" name="quantity" class="form-control" id="quantity" placeholder="16">
        </div>
      </div>
  
      <div class="form-group">
        <label for="volume" class="col-md-1 control-label">Volume</label>
        <div class="col-md-3">
          <input type="number" step = "0.1" min = "0.1" name="volume" class="form-control" id="volume" placeholder="3.2">
        </div>
        <label for="units" class="col-md-1 control-label">Units</label>
        <div class="col-md-3">
          <input type="text" name="units" class="form-control" id="units" placeholder="oz">
        </div>
      </div>
  
      <div class="form-group">
        <label for="sellby" class="col-md-1 control-label">Sell By</label>
        <div class="col-md-3">
          <input type="date" name="sellby" class="form-control" id="sellby" placeholder="YYYY-MM-DD">
        </div>
        <label for="bestby" class="col-md-1 control-label">Best By</label>
        <div class="col-md-3">
          <input type="date" name="bestby" class="form-control" id="bestby" placeholder="YYYY-MM-DD">
        </div>
        <label for="expiration" class="col-md-1 control-label">Expiration</label>
        <div class="col-md-3">
          <input type="date" name="expiration" class="form-control" id="expiration" placeholder="YYYY-MM-DD">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
    <br></br>
    
    <!--Inventory List (and actions) ------------------------------------------>
    <form id="inventory" action="{{ url_for('bus_console') }}" method ="POST" enctype="multipart/form-data">
      <fieldset>
      <legend>Inventory</legend>
      <div class="form-group">
        <table id = "foodlosses" width="100%">
        </table>
      </div>
      </fieldset>
    </form>
    <br></br>
    
  </div>
{% endblock %}