{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block container %}
  <div class="starter-template">
    <div class="container">
      <h1>America’s Hunger Problem—maybe just a distribution problem?</h1>
      <br>
      <h2>Food Distribution Services</h2>
      <p>
        Grocery Stores and other businesses can register here and report their food losses. The data collected will be used in algorithms that will forecast food waste and determine how to divide the food from each retailer, how to split up the food between people, and an optimal route for delivering all food items. The food gathered from the businesses will be delivered to those in need. Those in need can also register here and provide any allergy information to receive food deliveries.
      </p>
      <!-- {% if 'username' in session %} <p>Hello {{ session['username'] }}</p> {% endif%} -->
    </div>
  </div>
{% endblock %}