{% extends 'base.html' %}
{% set active_page = 'registration' %}

{% block container %}
  <div class="container">
    <h1>Registration</h1>
<!-- ----------------------------------------------------------------------- -->
    <form id="reg_type">
      <input type="radio" id="bus_register_option" name="reg_type" checked>Business<br>
      <input type="radio" id="ben_register_option" name="reg_type" >Beneficiary<br>
    </form> 
<!-- ----------------------------------------------------------------------- -->
    <form id="bus_register" action="/bus_register" method ="POST" enctype="x-www-form-urlencoded">
      <div class="form-group">
        <label for="name">Business name:</label>
        <input type="text" class="form-control" name="name" value="name_remove_later" placeholder="Your Company Name">
      </div>

      <div class="form-group">
        <label for"addr">Address:</label>
        <input type="text" class="form-control"  name="addr" value="addr_remove_later" placeholder="12771 Beech Tree Lane">
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control"  name="city" value="city_remove_later" placeholder="San Jose">
      </div>

      <div class="form-group">
        <label for="state">State:</state>
        <input type="text" class="form-control"  name="state" value="state_remove_later" placeholder="CA">
      </div>

      <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control"  name="zip" value="zip_remove_later" placeholder="76040">
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control"  name="username" value="username_remove_later" placeholder="Username">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control"  name="password" value="password_remove_later" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" name="confirm_password" value="password_remove_later" placeholder="Confirm Password">
      </div>

      <button id="bus_register_button" type="submit" class="btn btn-primary">Submit</button>
    </form>
<!-- ----------------------------------------------------------------------- -->
    <form id="ben_register" class="hidden" action="/ben_register" method ="POST" enctype="x-www-form-urlencoded">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input type="text" class="form-control" name="first" value="first_name_remove_later" placeholder="Your First Name">
      </div>

      <div class="form-group">
        <label for="last_name">Last name:</label>
        <input type="text" class="form-control" name="last" value="last_name_remove_later" placeholder="Your Last Name">
      </div>

      <div class="form-group">
        <label for"addr">Address:</label>
        <input type="text" class="form-control"  name="addr" value="addr_remove_later" placeholder="12771 Beech Tree Lane">
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control"  name="city" value="city_remove_later" placeholder="San Jose">
      </div>

      <div class="form-group">
        <label for="state">State:</state>
        <input type="text" class="form-control"  name="state" value="state_remove_later" placeholder="CA">
      </div>

      <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control"  name="zip" value="zip_remove_later" placeholder="76040">
      </div>

      <div class="form-group">
        <label for="famsize">Number of Persons in Household:</label>
        <input type="number" min="1" max="20" class="form-control"  name="famsize" value=3 placeholder="4">
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control"  name="username" value="distinct_user_name" placeholder="Username">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control"  name="password" value="password_remove_later" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" name="confirm_password" value="password_remove_later" placeholder="Confirm Password">
      </div>

      <button id="ben_register_button" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}